/* ***************** utilities & containers ***************** */

:root {
    --primary-blue: #0C4A6E;
    --off-white: #FAFAFA;
    --black: #000000;
    --grey: #C3C3C4;
}

.inner-container {
    max-width: 1528px;
    margin: 0 auto;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

/* ***************** global typography ***************** */

body{
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: var(--off-white);
    line-height: 1.5;
    font-size: 1.625rem;
    font-weight: 700;
    margin: 0;
}

h2 {
    color: var(--black);
    line-height: 1.5;
    font-size: 3.75rem;
    font-weight: 700;
    margin: 0 0 1.5rem 0;
}

h3 {
    color: var(--black);
    line-height: 1.5;
    font-size: 48px;
    font-weight: 700;
    margin: 0;
}

h4 {
    color: var(--black);
    line-height: 1.5;
    font-size: 2.125rem;
    font-weight: 700;
    margin: 0;
}

p {
    color: var(--black);
    line-height: 1.5;
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
}

/* ***************** header & footer ***************** */

header {
    background-color: var(--primary-blue);
    padding-top: 1.625rem;
    padding-bottom: 1.625rem;
    margin-bottom: 1.75rem;
}

footer {
    background-color: var(--primary-blue);
    padding-top: 1.625rem;
    padding-bottom: 1.625rem;
}

footer p {
    color: var(--off-white);
    line-height: 1.5;
}

footer cite {
    color: var(--off-white);
    font-style: italic;
    line-height: 1.5;
}

/* ***************** main content ***************** */
