/* ***************** utilities & containers ***************** */

:root {
    --primary-blue: #0C4A6E;
    --off-white: #FAFAFA;
    --black: #000000;
    --grey: #C3C3C4;
}

.inner-container {
    max-width: 1528px;
    margin: 0 auto;
}

.flex-container {
    display: flex;

    /* Needed to make the items move to a new line in case there's no more space, such as for the "Team" section that has 2 rows*/
    flex-wrap: wrap;

    column-gap: 2rem;
}

/* ***************** global typography ***************** */

body{
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: var(--off-white);
    line-height: 1.5;
    font-size: 1.625rem;
    font-weight: 700;
    margin: 0;
}

h2 {
    color: var(--black);
    line-height: 1.5;
    font-size: 3.75rem;
    font-weight: 700;
    margin: 0 0 1.5rem 0;
}

h3 {
    color: var(--black);
    line-height: 1.5;
    font-size: 48px;
    font-weight: 700;
    margin: 0;
}

h4 {
    color: var(--black);
    line-height: 1.5;
    font-size: 2.125rem;
    font-weight: 700;
    margin: 0;
}

p {
    color: var(--black);
    line-height: 1.5;
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
}

/* ***************** header & footer ***************** */

header {
    background-color: var(--primary-blue);
    padding: 1.625rem 0;
    margin-bottom: 1.75rem;
}

footer {
    background-color: var(--primary-blue);
    padding: 1.625rem 0;
}

footer p {
    color: var(--off-white);
    line-height: 1.5;
}

footer cite {
    color: var(--off-white);
    font-style: italic;
    line-height: 1.5;
}

/* ***************** main content ***************** */

/* Team */

img {
    max-width: 12.5rem;
}

.team .flex-container section {
    background-color: var(--grey);

    /* Euqally distributing space for the section, accounting for the paddings */
    width: calc(((100% / 2) - (2rem / 2)) - (1.75rem * 2));

    padding: 2.5rem 1.75rem;
    display: flex;

    /* The text appears to be vertically centered in each box */
    align-items: center;

    column-gap: 3.5rem;
}

.team .flex-container {

    /* Different vertical and horizontal gaps */
    row-gap: 3.25rem;
}

.team .flex-container section:first-of-type {

    /* The height of the text in this section is bigger than the image, so for each section to be 280px tall, this one has to have smaller paddings on the top and bottom */
    padding-top: 32px;
    padding-bottom: 32px;
}

section.team,
section.plans {
    margin-bottom: 6rem;
}

/* Plans */

.plan {
    background-color: var(--grey);
    padding: 1.75rem;
    display: flex;

    /* To make sure the items stay as a column instead of moving to one line */
    flex-direction: column;

    /* Centering the items horizontally and equally distributing the space between each item */
    justify-content: center;
    justify-content: space-between;

    text-align: center;

    /* Euqally distributing space for the section, accounting for the paddings */
    width: calc(((100% / 3) - (4rem / 3)) - (1.75rem * 2));
}

.plan section ul li {
    text-align: left;
    line-height: 1.5;
    font-size: 1rem;
}

.plan section ul {
    margin: 0;

    /* Used inline-block here to make the list centered without having to use text-align: center property, as it would make all text centered separately (no left-alignment) */
    /* Before, the default display was block, so the list took up the full available width of the container and did not let the justify-content:center property center the list */
    display: inline-block;
}

.plan p:last-of-type {
    color: var(--primary-blue);
    font-size: 1.5rem;
    font-weight: 700;
}